body {
    margin:0;
    display:flex;
    height:100vh;
    align-items:center;
}

.container {
    margin: 0 auto;
    overflow: auto;
    padding:20px;
}

.deprecate {
    background-color: rgb(0 255 247 / 0.25);
    font-family: Tahoma, sans-serif;
    backdrop-filter: blur(2px);
    border: 1px #343c43 solid;
    border-right: 1px #23cefe solid;
    border-left: 1px #ffffff solid;
    border-bottom: 1px #23cefe solid;
    color:black;
    width:40%;
    padding:4px;
    bottom:0;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 4px #000000);


}

.sigilbutton {
    border-top: 1px #ffffff solid;
    height:20px;
    float: right;
    transform:translateY(-4px);
}

.sigilbuttonmiddle {
    border-top: 1px #ffffff solid;
    height:20px;
    float: right;
    transform:translateY(-4px);
}

.sigilbuttonright {
    color:white;
    font-weight: bolder;
    font-size: 12px;
    text-shadow: 0px 0px 3px #000000;
    border: 1px #380801 solid;
    border-top: 1px #ffffff solid;
    background-image: linear-gradient(to bottom, #d8a7a6 25%, #c37d79 50%, #ab2715 55%, #bd756a 90%););
    border-bottom-right-radius: 7px;
    width:40px;
    height:20px;
    transition: 0.2s;
    float: right;
    transform:translateY(-4px);
}

.sigilbuttonright:hover {
    background-image: url("assets/titlebarglowred.png");
    background-size: cover;
    box-shadow: 0px 2px 6px #f69b8b;
    z-index: 5;
}

.hide {
    display: none;
}

.noticebox {
    background-color: white;
    border: 1px solid #6e7882;
    border-bottom: 0px;
    padding: 8px;
    margin-top: 22px;
    margin-left: 0px;
    margin-right: 0px;
}

.noticeboxgrey {
    background-color: #eeeeee;
    border: 1px solid #6e7882;
    border-top: 1px solid #dbdbdb;
    padding: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

.greybutton {
    background-image: linear-gradient(to bottom, #f1f2f3, #eaeced 51%, #dbdfe1 50%, #c3d0d4);
    border-radius:4px;
    border: 1px #45d8fb solid;
    box-shadow: 0 0 1px #3c7fb1;
}