.deprecate {
    background-color: rgb(238 124 255 / 0.25);
    font-family: Tahoma, sans-serif;
    backdrop-filter: blur(4px);
    border: 1px #343c43 solid;
    border-right: 1px #23cefe solid;
    border-bottom: 1px #23cefe solid;
    color:black;
    width:40%;
    padding:4px;position:fixed;
    bottom:0;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 12px #000000);
}

.sigilbuttonright {
    color:white;
    font-weight: bolder;
    font-size: 12px;
    text-shadow: 0px 0px 3px #000000;
    border: 1px #380801 solid;
    border-top: 1px #ffffff solid;
    background-image: linear-gradient(to bottom, #d8a7a6 25%, #c37d79 50%, #ab2715 55%, #bd756a 90%););
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    width:40px;
    height:20px;
    transition: 0.2s;
    float: right;
    transform: translateY(-4px);
}

.sigilbuttonright:hover {
    background-image: url("../assets/titlebarglowred.png");
    background-size: cover;
    box-shadow: 0px 2px 6px #f69b8b;
    z-index: 5;
}

.hide {
    display: none;
}

.noticebox {
    background-color: white;
    border: 1px solid #6e7882;
    border-bottom: 0px;
    padding: 8px;
    margin-top: 22px;
    margin-left: 0px;
    margin-right: 0px;
}

.noticeboxgrey {
    background-color: #eeeeee;
    border: 1px solid #6e7882;
    border-top: 1px solid #dbdbdb;
    padding: 8px;
    margin-left: 0px;
    margin-right: 0px;
}