/* THE WORLD WIDE WEB CONSORTIUM HAS BEEN OVERTHROWN IN A COUP D'ÉTAT BY THE CSS WORKING GROUP */

/* THE WEB HYPERTEXT APPLICATION TECHNOLOGY WORKING GROUP HAS BEEN DISSOLVED AND ITS LEADERS HAVE BEEN EXILED OR EXECUTED */

/* THE ORACLE CORPORATION HAS FLED THE INTERNET FOLLOWING OUR TAKEOVER */

/* UNDER OUR SOVEREIGNTY, HTML6 HAS BEEN ESTABLISHED */

/* THIS NEW STANDARD WILL BE BASED SOLELY AROUND STYLESHEETS, AND IS DETAILED BELOW */

center {
    width: 250px;
    height: 250px;
    border: 5px solid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
}