body {
    margin: 0;
    padding: 0;
    background-color: rgb(79, 0, 82);
}

.mainSect {
    background-color:rgb(79, 0, 82);

}
.jirh1index {
    color:rgb(160, 162, 255);
    text-align: center;
}
.jirindexintro {
    color: rgb(146, 198, 228);
    text-align: center;
}
.jirDes {
    color: rgb(146, 198, 228);
    text-align: center;
}

.CrispPixels {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}


/* About Us Page */
.aboutUsHead {
    color:rgb(160, 162, 255);
    text-align: center;
}
.aboutUsP {
    color: rgb(146, 198, 228);
    text-align: center;
}

/* Changelog Page */
.changeHead {
    text-align: center;
    color:rgb(160, 162, 255);
}

.changeP {
    text-align: center;
    color: rgb(146, 198, 228);
}

.changeUpdate {
    text-align: center;
    color: rgb(146, 198, 228);
}

/* New Navigation Bar */
.container {
    display: flex;
    top: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 285px;
}
.navBar {
    background-color: #2e297e;
    color: white;
    width: 225px;
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    top: 0px;
    left: 0px;
    padding: 20px 0;
    text-align: center;
}
    /* This is for the Jir0we image. */
    .navBar .jirp {
        margin-bottom: 30px;
        text-align: center;
        object-fit: contain;
        width: 140px;
        height: 140px;
        border-radius: 60%;
        margin: 0 auto;
    }

    /* For the links (I changed them from lists for some reason, it shouldn't be too difficult to change them back? */
        .navBarList {
        color: #b10c95;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(16, 85, 141);
        display: block;
        padding: 13px 30px;
        font-size: 16px;
        position: relative;
    }

    .navBarList:hover {
        color: #82d7ff;
        background: rgb(255, 255, 255);
        border-right: 2px solid rgb(5, 68, 104);
    }

    /* Burger */
    .hamburger {
        transform: translateY(120px);
        background-color: #2e297e;
        color: white;
        height: 60px;
        width: 60px
    }
    .hamburger:hover {
        color: #82d7ff;
        background: rgb(255, 255, 255);
    }

    /* For collapsing the nav bar */
    .collapse {
        width: 10px;
    }
    .show {
        display: none;
    }
    .collapse .remove {
        display:none;
    }

    .collapse .show {
        display: block;
    }



/* Old Navigation Bar*/
/* Navigation Link Styles 
a:link#navlink {
    color: rgb(161, 199, 255);
}
a:visited#navlink {
    color: pink;
}
a:hover#navlink {
    color: rgb(199, 130, 255);
}
a:active#navlink {

} */

/*NavBar CSS*/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navBarWrap .navBar{
    background: rgb(46, 41, 126);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.navBarWrap .navBar .navBarImg{
    margin-bottom: 30px;
    text-align: center;
}

.navBarWrap .navBar .navBarImg img{
    object-fit: contain;
    width: 140px;
    height: 140px;
    border-radius: 60%;
    margin: 0 auto;
}

.navBarWrap .navBar .navBarImg h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.navBarWrap .navBar .navBarImg p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}*/





/*Sidebar Link Format*/
/*.navBarWrap .navBar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(221, 0, 210);
    font-size: 16px;
    position: relative;
}

.navBarWrap .navBar ul li a .navLinkIcon{
    color: #0092a5;
    width: 30px;
    display: inline-block;
}
.navBarWrap .navBar ul li a:hover,
.navBarWrap .navBar ul li a.active{
    color: #82d7ff;

    background:rgb(255, 255, 255);
    border-right: 2px solid rgb(5, 68, 104);
}

.navBarWrap .navBar ul li a:hover .navLinkIcon,
.navBarWrap .navBar ul li a.navBarLink .navLinkIcon{
    color: #b10c95;
}

.navBarWrap .navBar ul li a:hover:before,
.navBarWrap .navBar ul li a.navBarLink:before{
    display: block;
}*/


/* Top NavBar */
/*.navBarWrap .navBarDots{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.navBarWrap .navBarDots .topNavBar{
    background: rgb(134, 200, 255);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.navBarWrap .navBarDots .topNavBar .navBurger a{
    font-size: 28px;
    color: #f4fbff;
}

.navBarWrap .navBarDots .topNavBar .navBurger a:hover{
    color: #a2ecff;
}

body.navBarLink .navBarWrap .navBar{
    left: -225px;
}

body.navBarLink .navBarWrap .navBarDots{
    margin-left: 0;
    width: 100%;
}*/

